* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* body {
  height: 4000px;
  background-color: yellow;
} */

.header {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.header .container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 130px;
  display: flex;
}

.header .logo {
  margin-right: 100px;
  line-height: 50px;
}

.header img {
  width: 100px;
  vertical-align: middle;
}

.header .menu a {
  margin-right: 30px;
  color: #010101;
  line-height: 50px;
}
.header .menu a:hover {
  color: #666;
}

.banner {
  background-image: url(/day03百度管理团队/背景.jpg);
  background-size: 100% auto;
  background-position: bottom;
  height: 540px;
  background-size: cover;
  margin-top: 50px;
}
.banner .title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 500;
}

.main {
  width: 1200px;
  margin: 0 auto;
  padding-left: 120px;
  height: 550px;
  position: relative;
  /* background-color: aquamarine; */
  top: -240px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px #e8e8e9 solid;
}

.per {
  background-color: white;
  width: 215px;
  height: 340px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 70px;
}
.main img {
  width: 100%;
  /* float: left; */
}

.inform {
  text-align: center;
}
.name {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
}
.work {
  margin-bottom: 30px;
  padding-top: 15px;
}
.inform:hover {
  background-color: #2298f4;
  color: rgb(255, 255, 255);
}

.footer {
  width: 100%;
}

.bot {
  /* background-color: rgb(198, 198, 198); */
  padding: 0 13%;
}

.share {
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height: 6rem;
  text-align: left;
  border-bottom: 1px #e8e8e9 solid;
}
.more {
  margin-right: 100px;
}

.more-title {
  font-size: 20px;
  color: #666666;
  letter-spacing: 0;
  line-height: 60px;
  text-align: left;
}
.more a {
  font-size: 16px;
  color: #999999;
  letter-spacing: 0;
  line-height: 25px;
  text-align: left;
  display: block;
}
.more a:hover {
  color: #337ab7;
}

.icp {
  font-size: 14px;
  color: #666666;
  line-height: 14px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 1px;
}
